<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Profile</a>
            <div class="navbar-text pull-right">
                <a class="navbar-link" href="#!/user/:uid">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <label for="username">Username</label>
    <input id="username"
           ng-model="model.user.username"
           name="username"
           class="form-control"
           placeholder="username"
           value="daniel-chu"/>

    <label for="email">Email</label>
    <input id="email"
           ng-model="model.user.email"
           name="email"
           type="email"
           class="form-control"
           placeholder="email"
           value="daniel@chu.com"/>

    <label for="firstName">First Name</label>
    <input id="firstName"
           ng-model="model.user.firstName"
           name="firstName"
           class="form-control"
           placeholder="first name"
           value="Daniel"/>

    <label for="lastName">Last Name</label>
    <input id="lastName"
           ng-model="model.user.lastName"
           name="lastName"
           class="form-control"
           placeholder="last name"
           value="Chu"/>

    <div class="dc-button-container">
        <a class="btn btn-block btn-primary"
           href="#!/user/:uid/website"
           role="button">Websites</a>

        <a class="btn btn-block btn-danger"
           href="#!/login"
           role="button">Logout</a>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-text pull-right">
                <a class="navbar-link" href="#!/user/:uid">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>