<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-text pull-left">
                <a class="navbar-link" href="#/user/:uid">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <a class="navbar-brand" href="#">Websites</a>
            <div class="navbar-text pull-right">
                <a class="navbar-link" href="#/user/:uid/website/new">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-10">
                    <a href="#/user/:uid/website/:wid/page">
                        Wikipedia
                    </a>
                </div>
                <div class="col-xs-2">
                    <a href="#/user/:uid/website/:wid">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>
                </div>
            </div>
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-10">
                    <a href="#/user/:uid/website/:wid/page">
                        Facebook
                    </a>
                </div>
                <div class="col-xs-2">
                    <a href="#/user/:uid/website/:wid">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>
                </div>
            </div>
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-10">
                    <a href="#/user/:uid/website/:wid/page">
                        Twitter
                    </a>
                </div>
                <div class="col-xs-2">
                    <a href="#/user/:uid/website/:wid">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>
                </div>
            </div>
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-10">
                    <a href="#/user/:uid/website/:wid/page">
                        Amazon
                    </a>
                </div>
                <div class="col-xs-2">
                    <a href="#/user/:uid/website/:wid">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>
                </div>
            </div>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-text pull-right">
                <a class="navbar-link" href="#/user/:uid">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>