.navbar-fixed-top a > span {
    color: #40454a;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
    color: #666d75;
}

.navbar-fixed-bottom a > span {
    color: #3498db;
}

.navbar-default {
    background: #f4f0ef;
}