body {
    padding-top: 60px;
    padding-bottom: 60px;
}

a:hover {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

input {
    margin-bottom: 5px;
}

.btn-primary {
    background: #3498db;
}

.dc-button-container {
    margin-top: 10px;
}

.dc-disable-click {
    pointer-events: none;
}

.dc-widget-container {
    width: auto;
    position: relative;
    margin: 15px 5px;
}

.dc-widget-container h1,
.dc-widget-container h2,
.dc-widget-container h3 {
    margin: 0px;
}

.dc-widget-button-overlay {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    background-color: white;
    border-bottom-left-radius: 7px;
}

.list-group,
.list-group > .list-group-item {
    box-shadow: none;
    border: none;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-width: 768px) {
    .navbar-header {
        margin-right: 0;
        margin-left: 0;
        width: 100%;
    }
}

@media (max-width: 768px) {
    .navbar-default {
        padding: 0 30px 0 20px;
    }

    .dc-split-view-left-header,
    .dc-split-view-right-header {
        padding: 0px;
    }

}

@media (min-width: 1200px) {
    .col-lg-3.dc-split-view-left {
        padding-top: 50px;
        position: absolute;
        top: 10px;
        bottom: 0px;
        z-index: 1;
        overflow-y: scroll;
        border-right: 1px solid lightgray;
    }

    .col-lg-9.dc-split-view-right {
        position: absolute;
        width: 75%;
        right: 0px;
        top: 60px;
        bottom: 0px;
        overflow-y: scroll;
    }
}