body {
    padding-top: 60px;
    padding-bottom: 40px;
}

a:hover {
    text-decoration: none;
}

input {
    margin-bottom: 5px;
}

.button-container {
    margin-top: 10px;
}

.dc-white-text,
.navbar-default .navbar-brand {
    color: white;
}

.list-group,
.list-group > .list-group-item {
    box-shadow: none;
    border: none;
}

.navbar-default {
    background: #3498db;
    padding: 0 10px;
}

@media (min-width: 768px) {
    .navbar-header {
        margin-right: 0;
        margin-left: 0;
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .col-lg-3.dc-split-view-left {
        padding-top: 50px;
        position: absolute;
        top: 10px;
        bottom: 0px;
        z-index: 1;
        overflow-y: scroll;
        border-right: 1px solid lightgray;
    }

    .col-lg-9.dc-split-view-right {
        position: absolute;
        width: 75%;
        right: 0px;
        top: 60px;
        bottom: 0px;
        overflow-y: scroll;
    }
}