<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 visible-lg visible-md dc-split-view-left-header">
                <div class="navbar-header">
                    <div class="navbar-text pull-left">
                        <a class="navbar-link" href="page-list.view.client.html">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                    </div>
                    <a class="navbar-brand" href="#">Pages</a>
                    <div class="navbar-text pull-right">
                        <a class="navbar-link" href="page-new.view.client.html">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-9 dc-split-view-right-header">
                <div class="navbar-header">
                    <div class="navbar-text pull-left hidden-lg hidden-md">
                        <a class="navbar-link" href="page-list.view.client.html">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                    </div>
                    <a class="navbar-brand" href="#">New Page</a>
                    <div class="navbar-text pull-right">
                        <a class="navbar-link" href="page-list.view.client.html">
                            <span class="glyphicon glyphicon-ok"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 visible-lg visible-md dc-split-view-left">
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="../widget/widget-list.view.client.html">Blog Post</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="page-edit.view.client.html">
                                <span class="glyphicon glyphicon-cog pull-right"></span>
                            </a>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="../widget/widget-list.view.client.html">Blogs</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="page-edit.view.client.html">
                                <span class="glyphicon glyphicon-cog pull-right"></span>
                            </a>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="../widget/widget-list.view.client.html">Home</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="page-edit.view.client.html">
                                <span class="glyphicon glyphicon-cog pull-right"></span>
                            </a>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="../widget/widget-list.view.client.html">About</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="page-edit.view.client.html">
                                <span class="glyphicon glyphicon-cog pull-right"></span>
                            </a>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="../widget/widget-list.view.client.html">Contact Us</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="page-edit.view.client.html">
                                <span class="glyphicon glyphicon-cog pull-right"></span>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="col-xs-12 col-md-9 dc-split-view-right">
            <label for="name">Name</label>
            <input id="name"
                   name="name"
                   class="form-control"
                   placeholder="Page Name"/>

            <label for="title">Title</label>
            <input id="title"
                   name="title"
                   class="form-control"
                   placeholder="Page Title"/>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-text pull-right">
                <a class="navbar-link" href="../user/profile.view.client.html">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>