<div class="container-fluid">
    <label for="name">Name</label>
    <input id="name"
           name="name"
           class="form-control"
           placeholder="Widget Name"
           ng-model="model.widget.name"/>

    <label for="text">Text</label>
    <input id="text"
           name="text"
           class="form-control"
           placeholder="Widget Text"
           ng-model="model.widget.text"/>

    <label for="url">URL</label>
    <input id="url"
           name="url"
           class="form-control"
           placeholder="Widget URL"
           ng-model="model.widget.url"/>

    <label for="width">Width</label>
    <input id="width"
           name="width"
           class="form-control"
           placeholder="Widget Width"
           ng-model="model.widget.width"/>

    <form action="/api/upload" method="post" enctype="multipart/form-data">
        <label for="imageToUpload">Upload</label>
        <input id="imageToUpload" name="imageToUpload" type="file" class="form-control"/>
        <input name="width" value="{{model.widget.width}}" style="display: none"/>
        <input name="userId" value="{{model.userId}}" style="display: none"/>
        <input name="websiteId" value="{{model.websiteId}}" style="display: none"/>
        <input name="pageId" value="{{model.pageId}}" style="display: none"/>
        <input name="widgetId" value="{{model.widget._id}}" style="display: none"/>
        <div class="dc-button-container">
            <button type="submit" class="btn btn-block btn-primary">Upload Image</button>
        </div>
    </form>

    <div class="dc-button-container">
        <a class="btn btn-block btn-danger"
           ng-click="model.deleteWidget()"
           role="button">Delete Widget</a>
    </div>
</div>