<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-text pull-left">
                <a class="navbar-link"
                   href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <a class="navbar-brand" href="">
                Widget Edit - {{model.widget.widgetType}}
            </a>
            <div class="navbar-text pull-right">
                <a class="navbar-link" ng-click="model.updateWidget(model.widget)">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </div>
        </div>
    </div>
</nav>

<div ng-show="model.alert" class="alert alert-danger">{{model.alert}}</div>
<div ng-switch="model.widget.widgetType">
    <div ng-switch-when="HEADING">
        <ng-include src="'views/widget/templates/widgetEditTypePages/widget-heading-edit.view.client.html'">
    </div>
    <div ng-switch-when="IMAGE">
        <ng-include src="'views/widget/templates/widgetEditTypePages/widget-image-edit.view.client.html'">
    </div>
    <div ng-switch-when="YOUTUBE">
        <ng-include src="'views/widget/templates/widgetEditTypePages/widget-youtube-edit.view.client.html'">
    </div>
    <div ng-switch-when="HTML">
        <ng-include src="'views/widget/templates/widgetEditTypePages/widget-html-edit.view.client.html'">
    </div>
    <div ng-switch-when="TEXT">
        <ng-include src="'views/widget/templates/widgetEditTypePages/widget-text-edit.view.client.html'">
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-text pull-right">
                <a class="navbar-link" href="#!/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>
