<div class="container-fluid">
    <h1>Login</h1>

    <input id="username"
           name="username"
           class="form-control"
           placeholder="username"/>

    <input id="password"
           name="password"
           type="password"
           class="form-control"
           placeholder="password"/>

    <div class="dc-button-container">
        <a class="btn btn-block btn-primary"
           href="profile.view.client.html"
           role="button">Login</a>

        <a class="btn btn-block btn-success"
           href="register.view.client.html"
           role="button">Register</a>
    </div>
</div>