<div class="container-fluid">
    <h1>Register</h1>

    <input id="username"
           name="username"
           class="form-control"
           placeholder="username"/>

    <input id="password"
           name="password"
           type="password"
           class="form-control"
           placeholder="password"/>

    <input id="password-verify"
           name="password-verify"
           type="password"
           class="form-control"
           placeholder="verify password"/>

    <div class="dc-button-container">
        <a class="btn btn-block btn-primary"
           href="profile.view.client.html"
           role="button">Register</a>

        <a class="btn btn-block btn-danger"
           href="login.view.client.html"
           role="button">Cancel</a>
    </div>
</div>