<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 visible-lg visible-md dc-split-view-left-header">
                <div class="navbar-header">
                    <div class="navbar-text pull-left">
                        <a class="navbar-link" href="#!/user/{{model.userId}}/website">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                    </div>
                    <a class="navbar-brand" href="">Websites</a>
                    <div class="navbar-text pull-right">
                        <a class="navbar-link" href="#!/user/{{model.userId}}/website/new">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-9 dc-split-view-right-header">
                <div class="navbar-header">
                    <div class="navbar-text pull-left hidden-lg hidden-md">
                        <a class="navbar-link" href="#!/user/{{model.userId}}/website">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                    </div>
                    <a class="navbar-brand" href="">New Website</a>
                    <div class="navbar-text pull-right">
                        <a class="navbar-link" ng-click="model.createWebsite(model.website)">
                            <span class="glyphicon glyphicon-ok"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 visible-lg visible-md dc-split-view-left">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="website in model.websiteList">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="#!/user/{{model.userId}}/website/{{website._id}}/page">
                                {{website.name}}
                            </a>
                        </div>
                        <div class="col-xs-2">
                            <a href="#!/user/{{model.userId}}/website/{{website._id}}">
                                <span class="glyphicon glyphicon-cog pull-right"></span>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="col-xs-12 col-md-9 dc-split-view-right">
            <div ng-show="model.alert" class="alert alert-danger">{{model.alert}}</div>

            <label for="name">Name</label>
            <input id="name"
                   ng-model="model.website.name"
                   name="name"
                   class="form-control"
                   placeholder="Website Name"/>

            <label for="description">Description</label>
            <textarea id="description"
                      ng-model="model.website.description"
                      name="description"
                      class="form-control"
                      rows="5"
                      placeholder="Website Description"></textarea>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-text pull-right">
                <a class="navbar-link" href="#!/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>