<nav class="navbar navbar-default navbar-fixed-top dc-background-beige">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-text pull-left">
                <a class="navbar-link" href="#!/user/:uid/website">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <a class="navbar-brand" href="#">Pages</a>
            <div class="navbar-text pull-right">
                <a class="navbar-link" href="#!/user/:uid/website/:wid/page/new">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="page in model.pages">
            <div class="row">
                <div class="col-xs-10">
                    <a href="#!/user/:uid/website/:wid/page/:pid/widget">
                        {{page.name}}
                    </a>
                </div>
                <div class="col-xs-2">
                    <a href="#!/user/:uid/website/:wid/page/:pid">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>
                </div>
            </div>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-text pull-right">
                <a class="navbar-link" href="#!/user/:uid">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>